<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Nicolasblancom_Blog::blog"
            title="Blog"
            translate="title"
            module="Nicolasblancom_Blog"
            resource="Nicolasblancom_Blog::blog"
            parent="Magento_Backend::content"
            sortOrder="900"
        />
        <add
            id="Nicolasblancom_Blog::post"
            title="Posts"
            translate="title"
            module="Nicolasblancom_Blog"
            resource="Nicolasblancom_Blog::blog"
            parent="Nicolasblancom_Blog::blog"
            action="blog/post"
        />
    </menu>
</config>
